body{
    background-color: #EAEAEA;
}

/*===============================
          Header Nav Bar
===============================*/

header{
    background-color: black;
    height: 80px;
    font-family: 'Poppins', sans-serif;
    position: relative;
    top: 0;

}

header>section>nav>ul:nth-child(1){
    position: absolute;
    top: 0px;
    left: 70px;
    cursor: pointer;
}
header>section>nav>ul:nth-child(2){
    position: absolute;
    top: 0px;
    right: 150px;
    cursor: pointer;
}
header>section>nav>ul:nth-child(1)>li{
    display: inline-block;
    padding: 10px;
    color: white;
    font-size: 20px;
}
header>section>nav>ul:nth-child(2)>li{
    display: inline-block;
    padding: 15px;
    color: white;
}
header{
    position: fixed;
    z-index: 2;
    width: 100%;

}


/*===============================
          Home Section
===============================*/
main{
    position: relative;
}
main>section:nth-child(1){
    background-color: black;
    top: 0;
    position: relative;
    height: 100vh;

}
main>section:nth-child(1)>aside>h2{
    position: absolute;
    font-family: 'Poppins', sans-serif;
    color: white;
    top: 250px;
    left: 200px;
    font-size: 45px;
}
main>section:nth-child(1)>aside>p{
    position: absolute;
    color: white;
    top: 330px;
    left:300px;
    font-size: 25px;
}
main>section:nth-child(1)>aside>button{
    position: relative;
    color: black;
    top: 410px;
    left: 230px;
    height: 50px;
    width: 160px;
    border-radius: 30px;
   background-color: white;
    cursor: pointer;
}


/*===============================
          About Section
===============================*/

main>section:nth-child(2)>div{
    width: 80%;
    height: 80vh;
    background-color: white;
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 50px;
    box-shadow: 1px 2px 3px 1px rgba(40, 0, 0, 0.40);

    /*background-color: white;
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin-bottom: 2rem;*/



}


