body{
    background-color: #EAEAEA;
}
/*main{
    overflow: hidden;
}*/

/*===============================
          Header Nav Bar
===============================*/

header{
    background-color: black;
    height: 80px;
    font-family: 'Poppins', sans-serif;
    position: relative;
    top: 0;

}

header>section>nav>ul:nth-child(1){
    position: absolute;
    top: 0px;
    left: 70px;
    cursor: pointer;
}
header>section>nav>ul:nth-child(2){
    position: absolute;
    top: 0px;
    right: 150px;
    cursor: pointer;
}
header>section>nav>ul:nth-child(1)>li{
    display: inline-block;
    padding: 10px;
    color: white;
    font-size: 20px;
}
header>section>nav>ul:nth-child(2)>li{
    display: inline-block;
    padding: 15px;
    color: white;
}
header{
    position: fixed;
    z-index: 2;
    width: 100%;

}


/*===============================
          Home Section
===============================*/
main{
    position: relative;
}
main>section:nth-child(1){
    background-color: black;
    top: 0;
    position: relative;
    height: 100vh;

}
main>section:nth-child(1)>aside>h2{
    position: absolute;
    font-family: 'Poppins', sans-serif;
    color: white;
    top: 250px;
    left: 200px;
    font-size: 45px;
}
main>section:nth-child(1)>aside>p{
    position: absolute;
    color: white;
    top: 330px;
    left:300px;
    font-size: 25px;
}
main>section:nth-child(1)>aside>button{
    position: relative;
    color: black;
    top: 410px;
    left: 230px;
    height: 50px;
    width: 160px;
    border-radius: 30px;
   background-color: white;
    cursor: pointer;
}


/*===============================
          About Section
===============================*/

main>section:nth-child(2)>div{
    width: 77%;
    height: 85vh;
    background-color: white;
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 50px;
    box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.40);


    display: grid;
    grid-template-rows: repeat(1,1fr);
    grid-template-columns: repeat(2,1fr);


    /*background-color: white;
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin-bottom: 2rem;*/

}

main>section:nth-child(2)>div>div{
   width: 200px;
    height: 200px;
   /* background-color: gray;*/
    position: absolute;
    left: 50px;
    top: 60px;

    background: url("../images/sumera.jpg");
    background-size: cover;
    background-position: center;
}
main>section:nth-child(2)>div>section:nth-child(2)>p{
    position: relative;
    top: 60px;
    left:300px;

}
main>section:nth-child(2)>div>section:nth-child(2)>section>h4{
    position: absolute;
   font-size: 27px;
    left:60px;
    top: 270px;
}


main>section:nth-child(2)>div>section:nth-child(2)>section>div:nth-child(2){
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: darkblue;
    left:130px;
    top:368px;

    background: url("../images/icons8-css3-48.png");
    background-size: cover;
    background-position: center;
}
/*main>section:nth-child(2)>div>section:nth-child(2)>section>div:nth-child(3){
    position: relative;
    width: 50px;
    height: 50px;
    background-color: darkblue;
    left:60px;
    top:180px;

    background: url("../images/icons8-html-5-48.png");
    background-size: cover;
    background-position: center;
}*/
main>section:nth-child(2)>div>section:nth-child(2)>section>div:nth-child(4){
    position: relative;
    width: 50px;
    height: 50px;
    background-color: darkblue;
    left:60px;
    top:180px;

    background: url("../images/icons8-html-5-48.png");
    background-size: cover;
    background-position: center;
}
main>section:nth-child(2)>div>section:nth-child(2)>section>div:nth-child(5){
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: darkblue;
    left:200px;
    top:368px;

    background: url("../images/icons8-javascript-48.png");
    background-size: cover;
    background-position: center;
}
main>section:nth-child(2)>div>section:nth-child(2)>section>div:nth-child(6){
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: darkblue;
    left:270px;
    top:368px;

    background: url("../images/icons8-angularjs-48.png");
    background-size: cover;
    background-position: center;
}
main>section:nth-child(2)>div>section:nth-child(2)>section>div:nth-child(7){
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: darkblue;
    left:340px;
    top:368px;

    background: url("../images/icons8-nodejs-48.png");
    background-size: cover;
    background-position: center;
}

main>section:nth-child(2)>div>section:nth-child(2)>section>div:nth-child(8){
    position: relative;
    width: 50px;
    height: 50px;
    background-color: darkblue;
    left:60px;
    top:200px;

    background: url("../images/icons8-wordpress-48.png");
    background-size: cover;
    background-position: center;
}
main>section:nth-child(2)>div>section:nth-child(2)>section>div:nth-child(9){
    position: relative;
    width: 50px;
    height: 50px;
    background-color: darkblue;
    left:130px;
    top:150px;

    background: url("../images/icons8-java-48.png");
    background-size: cover;
    background-position: center;
}

main>section:nth-child(2)>div>section:nth-child(2)>section>div:nth-child(10){
    position: relative;
    width: 50px;
    height: 50px;
    background-color: darkblue;
    left:200px;
    top:100px;

    background: url("../images/icons8-python-48.png");
    background-size: cover;
    background-position: center;
}
main>section:nth-child(2)>div>section:nth-child(2)>section>div:nth-child(11){
    position: relative;
    width: 50px;
    height: 50px;
    background-color: darkblue;
    left:270px;
    top:50px;

    background: url("../images/icons8-amazon-web-services-48.png");
    background-size: cover;
    background-position: center;
}
main>section:nth-child(2)>div>section:nth-child(2)>section>div:nth-child(12){
    position: relative;
    width: 50px;
    height: 50px;
    background-color: darkblue;
    left:340px;
    top:0;

    background: url("../images/icons8-bootstrap-48.png");
    background-size: cover;
    background-position: center;
}

main>section:nth-child(2)>div>section:nth-child(3)>p{
    position: relative;
    font-size: 20px;
    left: 10px;
    margin-right: 100px;
    top: 30px;
}
main>section:nth-child(2)>div>section:nth-child(3)>h3{
    position: relative;
   font-size: 35px;
    left: 10px;
    top: 20px;
}



/*main>section:nth-child(2)>div>aside:nth-child(1)>p{
  text-align: right;

}*/


/*===============================
          Services Section
===============================*/

main>section:nth-child(3)>section:nth-child(1)>h2{
    margin-top: 60px;
    font-size: 45px;
    text-align: center;
    margin-bottom: 50px;
}

main>section:nth-child(3)>section:nth-child(2){
    width: 77%;
    height: 100vh;
    left: 0;
    right: 0;
    top: 50px;
    margin: auto;
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(3,1fr);
    gap: 30px;



 }

main>section:nth-child(3)>section:nth-child(2)>div{
    box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.40);
    background-color: white;
    border-radius: 1rem;
    text-align: center;

}

main>section:nth-child(3)>section:nth-child(2)>div:hover>div{
    background-color: #e4e4e4;
    transition-duration: 0.3s;

}
main>section:nth-child(3)>section:nth-child(2)>div:hover>div>div{
    background-color: dodgerblue;
    transition-duration: 0.3s;
}
main>section:nth-child(3)>section:nth-child(2)>div:hover>div>div>i{
    color: white;
    transition-duration: 0.3s;
}

main>section:nth-child(3)>section:nth-child(2)>div>div{
    width: 130px;
    height: 130px;
    background-color: dodgerblue;
    margin-top:30px;
    border-radius: 100%;
    position: relative;
    bottom: 0;
    right: 0;
    left: 120px;


}


main>section:nth-child(3)>section:nth-child(2)>div>div>div{
    width: 110px;
    height: 110px;
    background-color: white;
    border-radius: 100%;

    position: relative;
    top: 10px;
    bottom: 0;
    right: 0;
    left: 10px;



}


main>section:nth-child(3)>section:nth-child(2)>div>div>div>i{
    font-size: 50px;
    position: relative;
    top: 30px;
    bottom: 0;
    right: 0;
    left: 0;

}


main>section:nth-child(3)>section:nth-child(2)>div>p{
/*margin-top: 190px;*/
    margin-left: 20px;
    margin-right: 20px;
}

/*===============================
          Counting Section
===============================*/

main>section:nth-child(4){
    margin-top: 60px;
    width: 100%;
    height: 58vh;
  /*  display: grid;*/
    display: flex;
   /* flex-direction: column;*/
    justify-content: space-around;
    grid-template-rows: repeat(1,1fr);
    grid-template-columns: repeat(4,1fr);


    /*background-image: url("../images/counters-bg.jpg");*/
    background-size: cover;
    background-position: center;
    background-color: dodgerblue;



}

main>section:nth-child(4)>div{
   width: 75px;
    height: 75px;
    border: 11px solid white;
    border-radius: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;

}
main>section:nth-child(4)>div:nth-child(2){
  right: 850px;
}

main>section:nth-child(4)>div:nth-child(3){
    left: 300px;
}
main>section:nth-child(4)>div:nth-child(1){
    right: 260px;
}

main>section:nth-child(4)>div:nth-child(4){
    left: 850px;
}

main>section:nth-child(4)>div>i{
    font-size: 35px;
    position: relative;
    top: 20px;
    bottom: 0;
    right: 0;
    left: 22px;
    margin: auto;
    color: white;
}
main>section:nth-child(4)>div>h3{
    font-size: 35px;
    position: relative;
    top: 58px;
    bottom: 0;
    right: 0;
    left: 20px;
    margin: auto;
    color: white;
}
main>section:nth-child(4)>div>p{
    width: 300px;
    font-size:16px;
    position: relative;
    top: 40px;
  right: 20px;
    color: white;
}

/*
main>section:nth-child(4)>div:nth-child(2){
    left: 150px;
}
main>section:nth-child(4)>div:nth-child(3){
    right: 150px;
}
main>section:nth-child(4)>div:nth-child(4){
    right: 150px;
}
*/

/*===============================
          product Section
===============================*/

main>section:nth-child(5)>section:nth-child(1)>h2{
    margin-top: 60px;
    font-size: 45px;
    text-align: center;
    margin-bottom: 50px;
}

main>section:nth-child(5)>section:nth-child(2){
    width: 77%;
    height: 100vh;
    left: 0;
    right: 0;
    top: 50px;
    margin: auto;
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(3,1fr);
    gap: 30px;

}

main>section:nth-child(5)>section:nth-child(2)>div{
    box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.40);
    background-color: white;
   /* border-radius: 1rem;*/
    text-align: center;

}



main>section:nth-child(5)>section:nth-child(2)>div>p{
    margin-top: 190px;
    margin-left: 20px;
    margin-right: 20px;
}


/*===============================
          Portfolio Section
===============================*/

main>section:nth-child(6)>section:nth-child(1)>h2{
    margin-top: 60px;
    font-size: 45px;
    text-align: center;
    margin-bottom: 50px;
}

main>section:nth-child(6)>section:nth-child(2){
    width: 77%;
    height: 65vh;
    left: 0;
    right: 0;
    top: 50px;
    margin: auto;
    display: grid;
    grid-template-rows: repeat(1,1fr);
    grid-template-columns: repeat(3,1fr);
    gap: 30px;

}

main>section:nth-child(6)>section:nth-child(2)>div{
    box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.40);
    background-color: white;
   /* border-radius: 1rem;*/
    text-align: center;

}

main>section:nth-child(6)>section:nth-child(2)>div>div{
    width: 100%;
    height:280px;
    background-color: gray;
    position: relative;
    bottom: 0;
    right: 0;

}

main>section:nth-child(6)>section:nth-child(2)>div:nth-child(1)>div{
    background: url("../images/WhatsApp Image 2022-07-17 at 10.03.12 AM.jpeg");
    background-size: cover;
    background-position: center;


}
main>section:nth-child(6)>section:nth-child(2)>div>div:hover{
    transform:scale(1.03);
    cursor: pointer;
    transition: all .3s ease 0s;


}

main>section:nth-child(6)>section:nth-child(2)>div:nth-child(2)>div{
    background: url("../images/WhatsApp Image 2022-07-17 at 11.41.29 AM.jpeg");
    background-size: cover;
    background-position: center;
}

main>section:nth-child(6)>section:nth-child(2)>div:nth-child(3)>div{
    background: url("../images/WhatsApp Image 2022-07-15 at 8.32.45 PM.jpeg");
    background-size: cover;
    background-position: center;
}

main>section:nth-child(6)>section:nth-child(2)>div>p{

    margin-left: 20px;
    margin-right: 20px;
}

/*===============================
          Contact Section
===============================*/


main>section:nth-child(7){
    margin-top: 60px;
    width: 100%;
    height: 800px;

    /* background-image: url("../images/3.jpg");*/
    background-size: cover;
    background-position: center;
    background-color: dodgerblue;



}

main>section:nth-child(7)>section>div{
    margin-top: 140px;
    width: 1110px;
    height: 600px;
    background-color: white;
    position: absolute;
    left: 210px;
    box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.40);

    display: grid;
    grid-template-rows: repeat(1,1fr);
    grid-template-columns: repeat(2,1fr);
    gap: 80px;


}

main>section:nth-child(7)>section>div>aside:nth-child(1)>h2{
position: relative;
  font-size: 30px;
    margin-left: 50px;
    top: 20px;


}

main>section:nth-child(7)>section>div>aside:nth-child(1)>form>input{
    position: relative;
    margin-left: 50px;
    width: 450px;
    height: 30px;
    top: 20px;



}
main>section:nth-child(7)>section>div>aside:nth-child(1)>form>textarea{
    position: relative;
    margin-left: 50px;
    width: 450px;
    height: 150px;
    top: 20px;

}

main>section:nth-child(7)>section>div>aside:nth-child(1)>form>button{
    position: relative;
    margin-left: 50px;
    width: 190px;
    height: 60px;
    top: 50px;
    border-radius: 30px;
    background-color: dodgerblue;
    color: white;
    border-color: white;
font-size: 20px;
}

main>section:nth-child(7)>section>div>aside:nth-child(2)>h2{
    position: relative;
    font-size: 30px;
    top: 20px;
    right: 50px;

}
main>section:nth-child(7)>section>div>aside:nth-child(2)>p{
    position: relative;
    top: 20px;
    right: 50px;


}
main>section:nth-child(7)>section>div>aside:nth-child(2)>p>span>i{
  color: dodgerblue;

}

main>section:nth-child(7)>section>div>aside:nth-child(2)>div{
    width: 50px;
    height: 50px;
    background-color: dodgerblue;
    position: relative;
    display: inline-block;
    top: 30px;
    right: 80px;
    border-radius: 100%;
    margin-left: 20px;

}

main>section:nth-child(7)>section>div>aside:nth-child(2)>div>div{
    width: 42px;
    height: 42px;
    background-color: white;
    position: relative;
    top: 3.5px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;

    border-radius: 100%;


}
main>section:nth-child(7)>section>div>aside:nth-child(2)>div>div>i{
    font-size: 25px;
    position: relative;
    top: 8px;
    bottom: 0;
    right: 0;
    left: 10px;

}
main>section:nth-child(7)>section>div>aside:nth-child(2)>div:hover{
    background-color: #e4e4e4;
    transition-duration: 0.3s;
}
main>section:nth-child(7)>section>div>aside:nth-child(2)>div:hover>div{
    background-color: dodgerblue;
    transition-duration: 0.3s;
}
main>section:nth-child(7)>section>div>aside:nth-child(2)>div:hover>div>i{
    transition-duration: 0.3s;
    color: white;
}
main>section:nth-child(7)>section>div>aside:nth-child(1)>form>button:hover{
   background-color: mediumblue;
    transition-duration: 0.3s;
}
main>section:nth-child(7)>section>div>aside:nth-child(2)>div:nth-child(1)>div>i{
    position: relative;
    left: 20px;
}

/*===============================
          Footer Section
===============================*/

footer{
    width: 100%;
    height: 100px;
    background-color: dodgerblue;
    text-align: center;
    color: white;
    font-size: medium;

}