body{
    background-color: #EAEAEA;
}



/*
#loader{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: dodgerblue;
}
#gif{
    width: 500px;
    height: 200px;
    border: 2px solid white;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background: url("../images/hand-animation-loading.gif");
    background-size: cover;
    background-position: center;

}
*/


main{
    overflow: hidden;
}
html{
    scroll-behavior: smooth;
}

.ad{
    color: white;
    text-decoration: none;
}

.navbar-color{
    /*background: #f5f5f5;*/
    background: white;
    box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.20);
    transition-duration: 0.5s;
}

.a-color{
    color: #0078ff;
    transition-duration: 0.5s;

}
.a-hover::after{
    content: '';
    width: 0;
    height: 2.5px;
    background-color: dodgerblue;
    display: block;
    margin-top: 5px;
    transition: 0.4s ease-in-out;

}
.a-hover:hover::after{
    content: '';
    width: 70%;
    height: 2.5px;
    background-color: dodgerblue;
    display: block;
    margin-top: 5px;
}

/*===============================
          Header Nav Bar
===============================*/

header{
    background-color: black;
    height: 80px;
    font-family: 'Poppins', sans-serif;
    position: absolute;
    top: 0;
    transition-duration: 0.5s;


}

header>section>nav>ul:nth-child(1){
    position: absolute;
    top: 0px;
    left: 70px;
    cursor: pointer;

}
header>section>nav>ul:nth-child(2){
    position: absolute;
    top: 0px;
    right: 150px;
    cursor: pointer;
    scroll-behavior: smooth;

}
header>section>nav>ul:nth-child(1)>li{
    display: inline-block;
    padding: 10px;
    color: white;
    font-size: 20px;
}
header>section>nav>ul:nth-child(2)>li{
    display: inline-block;
    padding: 15px;
    color: white;
}
header{
    position: fixed;
    z-index: 2;
    width: 100%;

}

li a::after{
    content: '';
    width: 0;
    height: 2.5px;
    background-color: white;
    display: block;
    transition: 0.4s ease-in-out;
    margin-top: 5px;

}

li a:hover::after{
    content: '';
    width: 70%;
    height: 2.5px;
    background-color: white;
    display: block;
    margin-top: 5px;
}


/*===============================
          Home Section
===============================*/
main{
    position: relative;
}
main>section:nth-child(1){
    background-color: black;
    top: 0;
    position: relative;
    height: 100vh;

}
main>section:nth-child(1)>aside>h2{
    position: absolute;
    font-family: 'Poppins', sans-serif;
    color: white;
    top: 250px;
    left: 15vw;
    font-size: 45px;
}
main>section:nth-child(1)>aside>p{
    position: absolute;
    color: white;
    top: 330px;
    left:22vw;
    font-size: 25px;
}
main>section:nth-child(1)>aside>button{
    position: relative;
    color: black;
    top: 410px;
    left: 18vw;
    height: 50px;
    width: 160px;
    border-radius: 20px;
   background-color: white;
    cursor: pointer;

}


#btn1:hover,#btn2:hover{
    color: white;
    background-color: black;
    border: 1px solid white;
    transition: .5s;
}


/*===============================
          About Section
===============================*/

main>section:nth-child(2)>div{
    width: 77%;
    height: 85vh;
    background-color: white;
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 50px;
    box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.40);


    display: grid;
    grid-template-rows: repeat(1,1fr);
    grid-template-columns: repeat(2,1fr);

}

main>section:nth-child(2)>div>div{
   width: 200px;
    height: 200px;
   /* background-color: gray;*/
    position: absolute;
    left: 50px;
    top: 60px;

    background: url("../images/sumera.jpg");
    background-size: cover;
    background-position: center;
}
main>section:nth-child(2)>div>section:nth-child(2)>p{
    position: relative;
    top: 60px;
   /* left:300px;*/
    left: 20vw;

}
main>section:nth-child(2)>div>section:nth-child(2)>section>h4{
    position: absolute;
   font-size: 22px;
    left:70px;
    top: 285px;
}


main>section:nth-child(2)>div>section:nth-child(2)>section>div:nth-child(2){
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: darkblue;
    left:130px;
    top:368px;

    background: url("../images/icons8-css3-48.png");
    background-size: cover;
    background-position: center;
}

main>section:nth-child(2)>div>section:nth-child(2)>section>div:nth-child(4){
    position: relative;
    width: 50px;
    height: 50px;
    background-color: darkblue;
    left:60px;
    top:180px;

    background: url("../images/icons8-html-5-48.png");
    background-size: cover;
    background-position: center;
}
main>section:nth-child(2)>div>section:nth-child(2)>section>div:nth-child(5){
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: darkblue;
    left:200px;
    top:368px;

    background: url("../images/icons8-javascript-48.png");
    background-size: cover;
    background-position: center;
}
main>section:nth-child(2)>div>section:nth-child(2)>section>div:nth-child(6){
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: darkblue;
    left:270px;
    top:368px;

    background: url("../images/icons8-angularjs-48.png");
    background-size: cover;
    background-position: center;
}
main>section:nth-child(2)>div>section:nth-child(2)>section>div:nth-child(7){
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: darkblue;
    left:340px;
    top:368px;

    background: url("../images/icons8-nodejs-48.png");
    background-size: cover;
    background-position: center;
}

main>section:nth-child(2)>div>section:nth-child(2)>section>div:nth-child(8){
    position: relative;
    width: 50px;
    height: 50px;
    background-color: darkblue;
    left:60px;
    top:200px;

    background: url("../images/icons8-wordpress-48.png");
    background-size: cover;
    background-position: center;
}
main>section:nth-child(2)>div>section:nth-child(2)>section>div:nth-child(9){
    position: relative;
    width: 50px;
    height: 50px;
    background-color: darkblue;
    left:130px;
    top:150px;

    background: url("../images/icons8-java-48.png");
    background-size: cover;
    background-position: center;
}

main>section:nth-child(2)>div>section:nth-child(2)>section>div:nth-child(10){
    position: relative;
    width: 50px;
    height: 50px;
    background-color: darkblue;
    left:200px;
    top:100px;

    background: url("../images/icons8-python-48.png");
    background-size: cover;
    background-position: center;
}
main>section:nth-child(2)>div>section:nth-child(2)>section>div:nth-child(11){
    position: relative;
    width: 50px;
    height: 50px;
    background-color: darkblue;
    left:270px;
    top:50px;

    background: url("../images/icons8-amazon-web-services-48.png");
    background-size: cover;
    background-position: center;
}
main>section:nth-child(2)>div>section:nth-child(2)>section>div:nth-child(12){
    position: relative;
    width: 50px;
    height: 50px;
    background-color: darkblue;
    left:340px;
    top:0;

    background: url("../images/icons8-bootstrap-48.png");
    background-size: cover;
    background-position: center;
}

main>section:nth-child(2)>div>section:nth-child(3)>p{
    position: relative;
    font-size: 20px;
    left: 10px;
    margin-right: 100px;
   /* margin-right: 3vw;
    left: 1vw;*/
    top: 30px;
}
main>section:nth-child(2)>div>section:nth-child(3)>h3{
    position: relative;
   font-size: 35px;
    left: 10px;
    top: 20px;
}



/*main>section:nth-child(2)>div>aside:nth-child(1)>p{
  text-align: right;

}*/


/*===============================
          Services Section
===============================*/

main>section:nth-child(3)>section:nth-child(1)>h2{
    margin-top: 60px;
    font-size: 45px;
    text-align: center;
    margin-bottom: 50px;
}

/*.line{
    width: 40px;
    height: 5px;
    background-color: #0078ff;

    position: relative;
    top: 0px;
    bottom: 50px;
    left: 0;
    right: 0;
    margin: auto;
}*/

main>section:nth-child(3)>section:nth-child(2){
    width: 77%;
    height: 100vh;
    left: 0;
    right: 0;
    top: 50px;
    margin: auto;
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(3,1fr);
    gap: 30px;



 }

main>section:nth-child(3)>section:nth-child(2)>div{
    box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.40);
    background-color: white;
    border-radius: 1rem;
    text-align: center;

}

main>section:nth-child(3)>section:nth-child(2)>div:hover>div{
    background-color: #e4e4e4;
    transition-duration: 0.3s;

}
main>section:nth-child(3)>section:nth-child(2)>div:hover>div>div{
    background-color: dodgerblue;
    transition-duration: 0.3s;
}
main>section:nth-child(3)>section:nth-child(2)>div:hover>div>div>i{
    color: white;
    transition-duration: 0.3s;
}

main>section:nth-child(3)>section:nth-child(2)>div>div{
    width: 130px;
    height: 130px;
    background-color: dodgerblue;
    margin-top:30px;
    border-radius: 100%;
    position: relative;
    bottom: 0;
    right: 0;
    left: 120px;


}


main>section:nth-child(3)>section:nth-child(2)>div>div>div{
    width: 110px;
    height: 110px;
    background-color: white;
    border-radius: 100%;

    position: relative;
    top: 10px;
    bottom: 0;
    right: 0;
    left: 10px;



}


main>section:nth-child(3)>section:nth-child(2)>div>div>div>i{
    font-size: 50px;
    position: relative;
    top: 30px;
    bottom: 0;
    right: 0;
    left: 0;

}


main>section:nth-child(3)>section:nth-child(2)>div>p{
/*margin-top: 190px;*/
    margin-left: 20px;
    margin-right: 20px;
}

/*===============================
          Counting Section
===============================*/

main>section:nth-child(4){
    margin-top: 60px;
    width: 100%;
    height: 430px;
  /*  display: grid;*/
    display: flex;
   /* flex-direction: column;*/
    justify-content: space-around;
    grid-template-rows: repeat(1,1fr);
    grid-template-columns: repeat(4,1fr);


    background-image: url("../images/counters-bg.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
   /* background: dodgerblue;*/


}
.overlay{
    width: 100%;
    height: 100%;
    background: dodgerblue;
    opacity: .75;
}

main>section:nth-child(4)>div{
   width: 75px;
    height: 75px;
    border: 11px solid white;
    border-radius: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;

}
main>section:nth-child(4)>div:nth-child(2){
  right: 850px;
}

main>section:nth-child(4)>div:nth-child(3){

    right: 290px;
}
main>section:nth-child(4)>div:nth-child(5){
   /* right: 500px;*/
  /* right: 500px;*/
    left: 850px;
}

main>section:nth-child(4)>div:nth-child(4){
    left: 300px;

}

main>section:nth-child(4)>div>i{
    font-size: 35px;
    position: relative;
    top: 20px;
    bottom: 0;
    right: 0;
    left: 22px;
    margin: auto;
    color: white;
}
main>section:nth-child(4)>div>h3{
    font-size: 35px;
    position: relative;
    top: 58px;
    bottom: 0;
    right: 0;
    left: 20px;
    margin: auto;
    color: white;
}
main>section:nth-child(4)>div>p{
    width: 300px;
    font-size:16px;
    position: relative;
    top: 40px;
  right: 20px;
    color: white;
}

/*
main>section:nth-child(4)>div:nth-child(2){
    left: 150px;
}
main>section:nth-child(4)>div:nth-child(3){
    right: 150px;
}
main>section:nth-child(4)>div:nth-child(4){
    right: 150px;
}
*/

/*===============================
          product Section
===============================*/

main>section:nth-child(5)>section:nth-child(1)>h2{
    margin-top: 60px;
    font-size: 45px;
    text-align: center;
 /*   margin-bottom: 50px;*/
}

main>section:nth-child(5)>section:nth-child(2){
    width: 77%;
    height: 100vh;
    left: 0;
    right: 0;
    top: 50px;
    margin: auto;
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(3,1fr);
    gap: 30px;

}

main>section:nth-child(5)>section:nth-child(2)>div{
    box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.40);
    background-color: white;
   /* border-radius: 1rem;*/
    text-align: center;

}



/*main>section:nth-child(5)>section:nth-child(2)>div>p{
    margin-top: 190px;
    margin-left: 20px;
    margin-right: 20px;
}*/

main>section:nth-child(5)>section:nth-child(2)>div>div{
   width: 100%;
    height: 255px;
    background-color: gray;
}
main>section:nth-child(5)>section:nth-child(2)>div:nth-child(1)>div{
    background: url("../images/Sailing-WordPress-theme-630x516.jpg");
    background-size: cover;
    background-position: center;
}
main>section:nth-child(5)>section:nth-child(2)>div:nth-child(2)>div{
    background: url("../images/wordpress-themes-2021.jpg");
    background-size: cover;
    background-position: center;
}
main>section:nth-child(5)>section:nth-child(2)>div:nth-child(3)>div{
    background: url("../images/WordPress-Design-Considerations-1024x535.jpg");
    background-size: cover;
    background-position: center;
}
main>section:nth-child(5)>section:nth-child(2)>div:nth-child(4)>div{
    background: url("../images/css1.1.PNG");
    background-size: cover;
    background-position: center;


}
main>section:nth-child(5)>section:nth-child(2)>div:nth-child(5)>div{
    background: url("../images/Custom-Web-Application-Development.jpg");
    background-size: cover;
    background-position: center;
}
main>section:nth-child(5)>section:nth-child(2)>div:nth-child(6)>div{
    background: url("../images/web-development.jpg");
    background-size: cover;
    background-position: center;
}

.linkProject{
    text-decoration: none;
    color: black;
}


/*===============================
          Portfolio Section
===============================*/

main>section:nth-child(6)>section:nth-child(1)>h2{
    margin-top: 60px;
    font-size: 45px;
    text-align: center;
    margin-bottom: 50px;
}

main>section:nth-child(6)>section:nth-child(2){
    width: 77%;
    height: 65vh;
    left: 0;
    right: 0;
    top: 50px;
    margin: auto;
    display: grid;
    grid-template-rows: repeat(1,1fr);
    grid-template-columns: repeat(3,1fr);
    gap: 30px;

}

main>section:nth-child(6)>section:nth-child(2)>div{
    box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.40);
    background-color: white;
   /* border-radius: 1rem;*/
    text-align: center;

}

main>section:nth-child(6)>section:nth-child(2)>div>div{
    width: 100%;
    height:280px;
    background-color: gray;
    position: relative;
    bottom: 0;
    right: 0;

}

main>section:nth-child(6)>section:nth-child(2)>div:nth-child(1)>div{
    background: url("../images/WhatsApp Image 2022-07-17 at 10.03.12 AM.jpeg");
    background-size: cover;
    background-position: center;


}
main>section:nth-child(6)>section:nth-child(2)>div>div:hover{
    transform:scale(1.03);
    cursor: pointer;
    transition: all .3s ease 0s;


}

main>section:nth-child(6)>section:nth-child(2)>div:nth-child(2)>div{
    background: url("../images/WhatsApp Image 2022-07-17 at 11.41.29 AM.jpeg");
    background-size: cover;
    background-position: center;
}

main>section:nth-child(6)>section:nth-child(2)>div:nth-child(3)>div{
    background: url("../images/WhatsApp Image 2022-07-15 at 8.32.45 PM.jpeg");
    background-size: cover;
    background-position: center;
}

main>section:nth-child(6)>section:nth-child(2)>div>p{

    margin-left: 20px;
    margin-right: 20px;
}

/*===============================
          Contact Section
===============================*/


main>section:nth-child(7){
    margin-top: 60px;
    width: 100%;
    height: 800px;

   /* background-image: url("../images/overlay-bg.jpg");*/
    background-size: cover;
    background-position: center;
    background-color: #459cf3;
    background-attachment: fixed;



}
.overlay2{
    width: 100%;
    height: 100%;
   /* background: dodgerblue;*/
    opacity: .9;
}



main>section:nth-child(7)>section>div{
    margin-top: 140px;
  /*  width: 1110px;*/
    width: 77%;
    height: 600px;
    background-color: white;
    position: absolute;
    left: 175px;
    box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.40);

    display: grid;
    grid-template-rows: repeat(1,1fr);
    grid-template-columns: repeat(2,1fr);
    gap: 80px;


}

main>section:nth-child(7)>section>div>aside:nth-child(1)>h2{
    position: relative;
    font-size: 30px;
    margin-left: 50px;
    top: 20px;


}

main>section:nth-child(7)>section>div>aside:nth-child(1)>form>input{
    position: relative;
    margin-left: 50px;
    width: 450px;
    height: 30px;
    top: 20px;



}
main>section:nth-child(7)>section>div>aside:nth-child(1)>form>textarea{
    position: relative;
    margin-left: 50px;
    width: 450px;
    height: 150px;
    top: 20px;

}

main>section:nth-child(7)>section>div>aside:nth-child(1)>form>button{
    position: relative;
    margin-left: 50px;
    width: 190px;
    height: 60px;
    top: 50px;
    border-radius: 30px;
    background-color: dodgerblue;
    color: white;
    border-color: white;
    font-size: 20px;
}

main>section:nth-child(7)>section>div>aside:nth-child(2)>h2{
    position: relative;
    font-size: 30px;
    top: 20px;
    right: 50px;

}
main>section:nth-child(7)>section>div>aside:nth-child(2)>p{
    position: relative;
    top: 20px;
    right: 50px;


}
main>section:nth-child(7)>section>div>aside:nth-child(2)>p>span>i{
  color: dodgerblue;

}

main>section:nth-child(7)>section>div>aside:nth-child(2)>div{
    width: 50px;
    height: 50px;
    background-color: dodgerblue;
    position: relative;
    display: inline-block;
    top: 25px;
    right: 80px;
    border-radius: 100%;
    margin-left: 20px;

}

main>section:nth-child(7)>section>div>aside:nth-child(2)>div>div{
    width: 42px;
    height: 42px;
    background-color: white;
    position: relative;
    top: 3px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    cursor: pointer;

    border-radius: 100%;


}
main>section:nth-child(7)>section>div>aside:nth-child(2)>div>div>i{
    font-size: 25px;
    position: relative;
    top: 8px;
    bottom: 0;
    right: 0;
    left: 10px;

}
main>section:nth-child(7)>section>div>aside:nth-child(2)>div:hover{
    background-color: #e4e4e4;
    transition-duration: 0.3s;
}
main>section:nth-child(7)>section>div>aside:nth-child(2)>div:hover>div{
    background-color: dodgerblue;
    transition-duration: 0.3s;
}
main>section:nth-child(7)>section>div>aside:nth-child(2)>div:hover>div>i{
    transition-duration: 0.3s;
    color: white;
}
main>section:nth-child(7)>section>div>aside:nth-child(1)>form>button:hover{
   background-color: mediumblue;
    transition-duration: 0.3s;
}
main>section:nth-child(7)>section>div>aside:nth-child(2)>div:nth-child(1)>div>i{
    position: relative;
    left: 20px;
}

/*===============================
          Footer Section
===============================*/

footer{
    width: 100%;
    height: 100px;
    background-color: #459cf3;
    text-align: center;
    color: white;
    font-size: medium;

}

/*===============================
         Responsive Laptop L
===============================*/

@media  (max-width: 1440px) {

    main>section:nth-child(4){
        margin-top: 90px;
        width: 100%;
       /* height: 58vh;*/
    }

    main>section:nth-child(7)>section>div{
        left: 190px;
    }

}

/*=====================================

=====================================*/

@media  (max-width: 1329px){


    /*service circle*/

    main>section:nth-child(3)>section:nth-child(2)>div>div{
        left: 90px;
    }

   /* contact*/

    main>section:nth-child(7)>section>div{
        margin-top: 120px;
        position: absolute;
        left: 180px;
        width: 1000px;
        height: 600px;
    }


}

@media  (max-width: 1355px){

    /* contact*/

    main>section:nth-child(7)>section>div{
        margin-top: 120px;
        position: absolute;
        left: 150px;
        width: 1020px;
        height: 600px;
    }
}

@media  (max-width: 1326px){

   /* about*/
    main>section:nth-child(2)>div>section:nth-child(3)>p{
        position: relative;
        font-size: 20px;
        left: 38px;
        margin-right: 100px;
        top: 30px;
    }
    main>section:nth-child(2)>div>section:nth-child(3)>h3{
        position: relative;
        font-size: 35px;
        left: 38px;
        top: 20px;
    }

}
@media  (max-width: 1234px){
   /* services*/
    main>section:nth-child(2)>div>section:nth-child(3)>h3{
        left: 10px;
    }

}

@media  (max-width: 1251px){

   /* about*/

    main>section:nth-child(2)>div{
        width: 90%;
        height: 90vh;
        margin-top: 80px;
        margin-bottom: 50px;

    }

    main>section:nth-child(2)>div>section:nth-child(3)>p{
        position: relative;
        font-size: 20px;
        left: 50px;
        margin-right: 100px;
        top: 30px;
    }
    main>section:nth-child(2)>div>section:nth-child(3)>h3{
        left: 50px;
    }

    /*Services*/

    main>section:nth-child(3)>section:nth-child(2){
        width: 90%;

    }
    main>section:nth-child(3)>section:nth-child(2)>div>div{
        left: 150px;
    }

 /*   counting*/
    main>section:nth-child(4){
        margin-top: 150px;

    }
    /* Projects*/

    main>section:nth-child(5)>section:nth-child(2){
        width: 90%;
    }

    /* Portfolio*/

    main>section:nth-child(6)>section:nth-child(2){
        width: 90%;
    }

}
/*===============================
         Responsive Laptop S
===============================*/

/*@media all and (min-width: 1024px) and (max-width: 1439px){*/
@media (max-width: 1231px) {


    /*header*/

    header>section>nav>ul:nth-child(1)>li{
      right: 60px;
      position: relative;
    }

    header>section>nav>ul:nth-child(2)>li{
       position: relative;
        left: 80px;
    }

   /* About*/

    main>section:nth-child(2)>div{
        width: 90%;
        height: 90vh;
        margin-top: 80px;
        margin-bottom: 50px;

    }
    main>section:nth-child(2)>div>section:nth-child(2)>p{
        position: relative;
        top: 60px;
        left:250px;

    }
    main>section:nth-child(2)>div>div{
        width: 180px;
        height: 180px;
        left: 50px;
        top: 70px;
    }

    main>section:nth-child(2)>div>section:nth-child(3)>p{
        left: 40px;
        margin-right: 80px;
        top: 5px;
        font-size: 19px;
    }
    main>section:nth-child(2)>div>section:nth-child(3)>h3{
        left: 40px;
        top: 15px;
    }

    /*Service*/
    main>section:nth-child(3)>section:nth-child(2){
        width: 90%;

    }
    main>section:nth-child(3)>section:nth-child(2)>div>div{
        left: 75px;
    }

   /* Counting*/

    main>section:nth-child(4){
        margin-top: 140px;

    }

    /* Projects*/

    main>section:nth-child(5)>section:nth-child(2){
        width: 90%;
    }

    /* Portfolio*/

    main>section:nth-child(6)>section:nth-child(2){
        width: 90%;
    }

    /* Contact */

    main>section:nth-child(7){
        margin-top: 120px;

    }

    main>section:nth-child(7)>section>div{
        margin-top: 120px;
        position: absolute;
        left: 60px;
        width: 90%;
        height: 600px;
    }

/*===============================
         Responsive Tab
===============================*/

    @media  (max-width: 1179px){

        header>section>nav>ul:nth-child(1)>li{
            color: red;
        }


    }


    @media  (max-width: 1024px){

        header>section>nav>ul:nth-child(1)>li{
            color: blue;
        }


    }

    @media  (max-width: 996px){

        header>section>nav>ul:nth-child(1)>li{
            color: green;
        }


    }

    @media  (max-width: 845px){

        header>section>nav>ul:nth-child(1)>li{
            color: orange;
        }


    }

/*===============================
             Responsive Tab
 ===============================*/

    @media  (max-width: 768px){

        header>section>nav>ul:nth-child(1)>li{
          right: 95px;

        }
        header>section>nav>ul:nth-child(2)>li{
            left: 135px;

        }

        /* About*/

        main>section:nth-child(2)>div{
            width: 90%;
            height: 120vh;
            margin-top: 80px;
            margin-bottom: 50px;

        }

        main>section:nth-child(2)>div>section:nth-child(2)>p{
            position: relative;
            top: 50px;
            left:195px;

        }
        main>section:nth-child(2)>div>div{
            width: 150px;
            height: 150px;
            left: 30px;
        }

        main>section:nth-child(2)>div>section:nth-child(3)>p{
            left: 70px;
            margin-right: 80px;
            top: 5px;
            font-size: 19px;
        }
        main>section:nth-child(2)>div>section:nth-child(3)>h3{
            left: 70px;
            top: 15px;
        }

        main>section:nth-child(2)>div>section:nth-child(2)>section>h4{
            left:40px;

        }
        main>section:nth-child(2)>div>section:nth-child(2)>section>div:nth-child(4){
            left:35px;
        }
        main>section:nth-child(2)>div>section:nth-child(2)>section>div:nth-child(2){
            left:100px;
        }

        main>section:nth-child(2)>div>section:nth-child(2)>section>div:nth-child(5){
            left:170px;
        }
        main>section:nth-child(2)>div>section:nth-child(2)>section>div:nth-child(6){
            left:240px;
        }
        main>section:nth-child(2)>div>section:nth-child(2)>section>div:nth-child(7){
            left:310px;
        }
        main>section:nth-child(2)>div>section:nth-child(2)>section>div:nth-child(8){
            left:40px;
        }
        main>section:nth-child(2)>div>section:nth-child(2)>section>div:nth-child(9){
            left:100px;
        }
        main>section:nth-child(2)>div>section:nth-child(2)>section>div:nth-child(10){
            left:170px;
        }
        main>section:nth-child(2)>div>section:nth-child(2)>section>div:nth-child(11){
            left:240px;
        }
        main>section:nth-child(2)>div>section:nth-child(2)>section>div:nth-child(12){
            left:310px;
        }

       /* Services*/

        main>section:nth-child(3)>section:nth-child(2)>div>div{
            left: 40px;
        }

        /* Counting*/

        main>section:nth-child(4){
            margin-top: 280px;

        }

        main>section:nth-child(4)>div{
            width: 60px;
            height: 60px;
            border: 11px solid white;
            border-radius: 100%;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            margin: auto;

        }
        /*  1 circle*/
        main>section:nth-child(4)>div:nth-child(2){
            top: 170px;
            right: 550px;
        }

      /*  2 circle*/
        main>section:nth-child(4)>div:nth-child(3){
            top: 170px;
            left: 110px;
        }
        /*  4 circle*/
        main>section:nth-child(4)>div:nth-child(5){
            top: 170px;
            left: 520px;
        }

        /*  3 circle*/
        main>section:nth-child(4)>div:nth-child(4){
            top: 170px;
            left: 180px;
        }

        main>section:nth-child(4)>div>i{
            font-size: 30px;
            position: relative;
            top: 15px;
            left: 18px;

        }
        main>section:nth-child(4)>div>h3{
            font-size: 35px;
            position: relative;
            top: 58px;
            left: 20px;
        }
        main>section:nth-child(4)>div>p{
            width: 300px;
            font-size:14px;
            top: 40px;
            right: 20px;

        }
        main>section:nth-child(4)>div:nth-child(2)>p{
            right: 25px;
        }

        main>section:nth-child(4)>div:nth-child(3)>p{

        }
        main>section:nth-child(4)>div:nth-child(1)>p{
            right: 38px;
        }

        main>section:nth-child(4)>div:nth-child(4)>p{
            right: 5px;
        }

        /* Contact */

        main>section:nth-child(7){
            margin-top: 220px;

        }

        main>section:nth-child(7)>section>div{
            margin-top: 120px;
            position: absolute;
            left: 30px;
            width: 700px;
            height: 600px;
        }

        main>section:nth-child(7)>section>div>aside:nth-child(1)>form>input{
            position: relative;
            margin-left: 50px;
            width: 280px;
            height: 30px;
            top: 20px;

        }
        main>section:nth-child(7)>section>div>aside:nth-child(1)>form>textarea{
            position: relative;
            margin-left: 50px;
            width: 280px;
            height: 150px;
            top: 20px;

        }

        main>section:nth-child(7)>section>div>aside:nth-child(2)>div{
            width: 50px;
            height: 50px;
            right: 60px;
            margin-left: 8px;

        }

    }


    @media  (max-width: 622px){

        header>section>nav>ul:nth-child(1)>li{
            color: brown;

        }

    }

    @media  (max-width: 567px){

        header>section>nav>ul:nth-child(1)>li{
            color: greenyellow;

        }

    }


/*===============================
         Responsive Mobile L
===============================*/

    @media  (max-width: 508px){

        /*header*/

        header>section>nav>ul:nth-child(1)>li{
            color: yellow;
        }

        header>section>nav>ul:nth-child(2)>li{
            display: none;

        }

      /*  home*/

        main>section:nth-child(1)>aside>h2{
            top: 210px;
            left: 10px;
            font-size: 45px;
            text-align: center;
        }
        main>section:nth-child(1)>aside>p{
            top: 350px;
            left:120px;
            font-size: 25px;
        }
        main>section:nth-child(1)>aside>button{
            top: 440px;
            left: 70px;
            height: 50px;
            width: 140px;
            border-radius: 30px;
        }


        /* About*/

        main>section:nth-child(2)>div{
            width: 90%;
            height: 180vh;
            margin-top: 80px;
            margin-bottom: 50px;

        }

        main>section:nth-child(2)>div>section:nth-child(2)>p{
            position: relative;
            top: 230px;
            left:40px;


        }
        main>section:nth-child(2)>div>div{
            width: 150px;
            height: 150px;
            left: 30px;
        }

        main>section:nth-child(2)>div>section:nth-child(3)>p{

            top: 600px;
            width: 350px;
            font-size: 19px;
            left: -150px;

        }
        main>section:nth-child(2)>div>section:nth-child(3)>h3{
            right: 500px;
            top: 600px;
            left: -150px;
        }

        main>section:nth-child(2)>div>section:nth-child(2)>section>h4{
            left:30px;
           top: 430px;
        }
        main>section:nth-child(2)>div>section:nth-child(2)>section>div:nth-child(4){
            left:30px;
            top: 280px;
        }
        main>section:nth-child(2)>div>section:nth-child(2)>section>div:nth-child(2){
            left:90px;
            top: 505px;
        }

        main>section:nth-child(2)>div>section:nth-child(2)>section>div:nth-child(5){
            left:150px;
            top: 505px;
        }
        main>section:nth-child(2)>div>section:nth-child(2)>section>div:nth-child(6){
            left:220px;
            top: 505px;
        }
        main>section:nth-child(2)>div>section:nth-child(2)>section>div:nth-child(7){
            left:280px;
            top: 505px;
        }
        main>section:nth-child(2)>div>section:nth-child(2)>section>div:nth-child(8){
            left:30px;
            top: 290px;
        }
        main>section:nth-child(2)>div>section:nth-child(2)>section>div:nth-child(9){
            left:90px;
            top: 240px;
        }
        main>section:nth-child(2)>div>section:nth-child(2)>section>div:nth-child(10){
            left:150px;
            top: 190px;
        }
        main>section:nth-child(2)>div>section:nth-child(2)>section>div:nth-child(11){
            left:220px;
            top: 140px;
        }
        main>section:nth-child(2)>div>section:nth-child(2)>section>div:nth-child(12){
            left:290px;
            top: 90px;
        }

        /* Services*/

        main>section:nth-child(3)>section:nth-child(2){
            width: 90%;
            height: 100vh;
            grid-template-rows: repeat(6,1fr);
            grid-template-columns: repeat(1,1fr);
            gap: 30px;
        }

        main>section:nth-child(3)>section:nth-child(2)>div>div{
            left: 130px;
        }

        /* Counting*/

        main>section:nth-child(4){
            margin-top: 1500px;
            height: 900px;

        }
        main>section:nth-child(4)>div{
            width: 65px;
            height: 65px;
            border: 11px solid white;
            border-radius: 100%;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            margin: auto;

        }

        /*1 circle*/
        main>section:nth-child(4)>div:nth-child(2){
            top: -1400px;
            left: 170px;
        }
        /*2 circle*/
        main>section:nth-child(4)>div:nth-child(3){
            top: -1000px;
            left: 175px;
        }
        main>section:nth-child(4)>div:nth-child(1){
            top: -500px;
          /*  right:120px;*/
        }

      /*  3 circle*/
        main>section:nth-child(4)>div:nth-child(4){
            top: -600px;
            left:20px;
        }

        /*  5 circle*/
        main>section:nth-child(4)>div:nth-child(5){
            top: -200px;
            left:30px;

        }

        main>section:nth-child(4)>div>i{
            font-size: 30px;
            position: relative;
            top: 17px;
            bottom: 0;
            right: 0;
            left: 20px;
            margin: auto;
            color: white;
        }

       /* Projects*/

        main>section:nth-child(5)>section:nth-child(2){
            width: 90%;
            height: 100vh;
            top: 50px;
            display: grid;
            grid-template-rows: repeat(6,1fr);
            grid-template-columns: repeat(1,1fr);

        }


         /* Portfolio Section*/

        main>section:nth-child(6)>section:nth-child(1)>h2{
            margin-top: 1400px;
            font-size: 45px;
            text-align: center;
            margin-bottom: 50px;
        }

        main>section:nth-child(6)>section:nth-child(2){
            width: 90%;
            height: 65vh;
            display: grid;
            grid-template-rows: repeat(3,1fr);
            grid-template-columns: repeat(1,1fr);
        }

        /* Contact */

        main>section:nth-child(7){
            margin-top: 1000px;
            width: 100%;
            height: 1300px;
        }

        main>section:nth-child(7)>section>div{
            margin-top: 120px;
            width: 380px;
            height: 1100px;
            background-color: white;
            position: absolute;
            left: 20px;
            box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.40);
            display: grid;
            grid-template-rows: repeat(2,1fr);
            grid-template-columns: repeat(1,1fr);
            gap: 0px;
        }


        main>section:nth-child(7)>section>div>aside:nth-child(1)>form>input{
            position: relative;
            margin-left: 20px;
            width: 330px;
            height: 30px;
            top: 20px;

        }
        main>section:nth-child(7)>section>div>aside:nth-child(1)>form>textarea{
            position: relative;
            margin-left: 20px;
            width: 330px;
            height: 150px;
            top: 20px;

        }

        main>section:nth-child(7)>section>div>aside:nth-child(1)>form>button{
            position: relative;
            margin-left: 20px;
            width: 190px;
            height: 60px;
            top: 50px;
            border-radius: 30px;
            font-size: 20px;
        }

        main>section:nth-child(7)>section>div>aside:nth-child(2)>h2{
            position: relative;
            font-size: 30px;
            top: 30px;
            left: 30px;

        }
        main>section:nth-child(7)>section>div>aside:nth-child(2)>p{
            position: relative;
            top: 60px;
            left: 30px;
            width: 350px;
        }

        main>section:nth-child(7)>section>div>aside:nth-child(2)>div{
            width: 50px;
            height: 50px;
            top: 70px;
            left: 20px;
            margin-left: 10px;
        }
        main>section:nth-child(7)>section>div>aside:nth-child(1)>h2{
            margin-left: 20px;
        }


    }
  /*!*  ====================
            502px
    ========================*!
    @media  (max-width: 508px){
        header>section>nav>ul:nth-child(1)>li{
            color: green;
        }

        main>section:nth-child(3)>section:nth-child(2)>div>div{
            left: 160px;
        }
    }*/



/*    =====================================
                    376px
    ======================================*/

    @media  (max-width: 376px){
        /*header*/

        header>section>nav>ul:nth-child(1)>li{
            color: deeppink;
        }

        /*  home*/

       /* main>section:nth-child(1)>aside>h2{
            top: 210px;
            font-size: 43px;
            text-align: center;
        }
        main>section:nth-child(1)>aside>p{
            top: 350px;
            left:55px;
            font-size: 25px;
        }
        main>section:nth-child(1)>aside>button{
            top: 440px;
            left: 40px;
            height: 40px;
            width: 120px;
            border-radius: 30px;
            font-size: 14px;
        }*/



    }

/*===============================
      Responsive Mobile S
===============================*/

    @media  (max-width: 320px){

        /*header*/

        header>section>nav>ul:nth-child(1)>li{
            color: yellow;
        }

        header>section>nav>ul:nth-child(2)>li{
            display: none;
        }

        /*  home*/

        main>section:nth-child(1)>aside>h2{
            top: 210px;
            font-size: 43px;
            text-align: center;
        }
        main>section:nth-child(1)>aside>p{
            top: 350px;
            left:55px;
            font-size: 25px;
        }
        main>section:nth-child(1)>aside>button{
            top: 440px;
            left: 40px;
            height: 40px;
            width: 120px;
            border-radius: 30px;
            font-size: 14px;
        }

        /*  About*/

        main>section:nth-child(2)>div{
            width: 90%;
            height: 200vh;
            margin-top: 80px;
            margin-bottom: 50px;

        }


        main>section:nth-child(2)>div>section:nth-child(3)>p{

            top: 680px;
            width: 280px;
            font-size: 18px;
            left: -150px;

        }
        main>section:nth-child(2)>div>section:nth-child(3)>h3{
            right: 500px;
            top: 670px;
            left: -150px;
        }

        main>section:nth-child(2)>div>div{
            width: 100px;
            height: 100px;
            left: 30px;
        }

        main>section:nth-child(2)>div>section:nth-child(2)>section>div:nth-child(7){
            left:90px;
            top: 620px;
        }

        main>section:nth-child(2)>div>section:nth-child(2)>section>div:nth-child(12){
            left:30px;
            top: 150px;
        }


        /* Services*/

        main>section:nth-child(3)>section:nth-child(2)>div>div{
            left: 80px;
        }

        /* Counting*/

        main>section:nth-child(4){
            margin-top: 1700px;
            height: 130vh;

        }
        main>section:nth-child(4)>div:nth-child(5){
            top: -50px;
            left: 0px;
        }

       /* first circle*/
        main>section:nth-child(4)>div:nth-child(2){
            top: -1170px;
            left: 120px;
        }

       /* last circle*/
        main>section:nth-child(4)>div:nth-child(3){
            top: -800px;
            left: 120px;
        }
        main>section:nth-child(4)>div:nth-child(1){
            top: -1200px;
            left: 60px;
        }

        /*third circle*/
        main>section:nth-child(4)>div:nth-child(4){
            top: -420px;
            left: 0px;
        }

        /* Contact */

        main>section:nth-child(7){
            margin-top: 1100px;
            width: 100%;
            height: 1300px;
        }


        main>section:nth-child(7)>section>div{
            margin-top: 120px;
            width: 280px;
            height: 1100px;
        }


        main>section:nth-child(7)>section>div>aside:nth-child(1)>form>input{
            margin-left: 20px;
            width: 240px;

        }
        main>section:nth-child(7)>section>div>aside:nth-child(1)>form>textarea{
            width: 240px;
        }

        main>section:nth-child(7)>section>div>aside:nth-child(2)>p{
            position: relative;
            top: 30px;
            left: 10px;
            width: 260px;
        }
        main>section:nth-child(7)>section>div>aside:nth-child(2)>div{
            width: 50px;
            height: 50px;
            top: 30px;
            left: 10px;
            margin-left: 5px;
        }

    }

  /*  @media  (max-width: 414px){

       !* about*!
        main>section:nth-child(2)>div>section:nth-child(3)>p{
            left: -150px;
            top: 630px;
            width: 250px;
            font-size: 20px;
        }
        main>section:nth-child(2)>div>section:nth-child(3)>h3{
            right: 500px;
            top: 640px;
            left: -150px;
        }

        !* Portfolio Section*!

        main>section:nth-child(6)>section:nth-child(1)>h2{
            margin-top: 1300px;

        }

        !*contact*!
        main>section:nth-child(7)>section>div{
            margin-top: 120px;
            width: 90%;
        }
        main>section:nth-child(7)>section>div>aside:nth-child(1)>form>input{
            margin-left: 10px;
        }
        main>section:nth-child(7)>section>div>aside:nth-child(1)>form>textarea{
            margin-left: 10px;
        }
        main>section:nth-child(7)>section>div>aside:nth-child(2)>p{
            left: 10px;

        }

    }*/
}